body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
    height: auto;
}

.home{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content:center ;

}

.poke-home{
    text-align: center;
}

.svg-home{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: flex-end;

}
.footer{
    padding-top: 10rem;
}

.poke-home>h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: #FE1936;
}

.poke-home>h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #302F2F;
}

.poke-home>input{
    background: #FFFFFF;
    width: 662px;
    height: 68px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

.poke-home>button{
    background: #D93F3F;
    width: 209.21px;
    height: 68px;
}


.pokemons{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    gap: 1rem;
}

#imgpokemon{
    width: 162px;
    height: 149px;  
}

.pokemonCard{
    width: 261px;
    height: 383px;
    padding: 1rem;
    border-radius: 4px 4px 0px 0px;
    background: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
}

.pokemonCh{
    background: #FFFFFF;
    border-radius: 4px;
    padding-bottom: 0.5rem;
}

.pagination{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.search{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}